version: "3.9"

services: 
  postgres:
    image: postgres:15-alpine
    container_name: pg_gateway
    environment:
      POSTGRES_DB: payment_gateway
      POSTGRES_USER: gateway_user
      POSTGRES_PASSWORD: gateway_pass
    volumes:
      - ./backend/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./backend/schema_v2.sql:/docker-entrypoint-initdb.d/02_schema_v2.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gateway_user -d payment_gateway"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis_gateway
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    container_name: gateway_api
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    container_name: gateway_worker
    build:
      context: ./backend
      dockerfile: Dockerfile.worker
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      api:
        condition: service_started

  merchant_frontend:
    container_name: merchant_frontend
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api

  checkout_app:
    container_name: checkout_app
    build:
      context: ./checkout-page
    ports:
      - "3001:80"
    depends_on:
      - api
